name: Container Build and Deploy

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read
  packages: write
  # Used by actions/attest-build-provenance
  id-token: write
  attestations: write

jobs:
  build-push:
    uses: darbiadev/.github/.github/workflows/container-build-push.yaml@45471b560aceda922ebec22a20b72f0c29914cad # v15.1.0

  deploy:
    needs: build-push
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: "Update deployment"
        run: curl -X POST '${{ secrets.DEPLOY_WEBHOOK }}'
