name: Python CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12
          allow-prereleases: true
          cache: pip
          cache-dependency-path: uv.lock

      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Sync dependencies
        run: uv sync --group dev --group tests

      - name: Run pre-commit
        run: uv run pre-commit run --all-files

      - name: Check formatting
        run: uv run ruff format --check .

      - name: Run Ruff checks
        run: uv run ruff check --output-format=github .

      - name: Run mypy
        run: uv run mypy --strict src/

      - name: Run tests
        run: uv run python -m coverage run -m pytest -v

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  docs:
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    uses: darbiadev/.github/.github/workflows/github-pages-python-sphinx.yaml@45471b560aceda922ebec22a20b72f0c29914cad # v15.1.0
